.App {
  padding: 0 50px;
}

.header {
  text-align: center;
}

.header h1 {
  color: #61DAFB;
  /* text-shadow: x-offset y-offset blur color; */
  text-shadow: 3px 3px 5px black;
}

/* *******************  GENERAL  ********************* */

.general {
  border: 5px outset #3fa7aa;
  padding: 0 20px;
}

.general h2 {
  color: #61DAFB;
  text-shadow: 3px 3px 5px black;
}

.general h3 {
  color: #20232B;
  text-shadow: 3px 3px 5px #61DAFB;
}

.numbered-list {
  list-style: lower-roman outside;
  color: purple;
}

/* *******************  Advantages vs Limitations  ******************* */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.advantages {
  border-right: 2px dashed black;
  text-align: center;
  color: #61DAFB;
}

.advantage-list {
  list-style: lower-roman inside;
}

.limitations {
  border-left: 2px dashed black;
  text-align: center;
  color: red;
}

.limitations-list {
  list-style: lower-roman inside;
  color: red;
}

.virtual-dom p {
  text-decoration: underline wavy #61DAFB;
}

.virtual-dom ol li {
  margin: 20px 0;
}

.class p {
  padding-right: 15px;
}

.function p {
  padding-right: 15px;
}